#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.css-hlj6pa-MuiDialogActions-root {
  display: none !important;
}

.css-1hbyad5-MuiTypography-root {
  display: none !important;
}

.css-z3au5x-MuiButtonBase-root-MuiIconButton-root-MuiPickersToolbar-penIconButton {
  display: none !important;
}

.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
  padding: 0 !important;
}

.css-jhsfre-MuiGrid-root-MuiPickersToolbar-content {
  justify-content: center !important;
  background-color: cornflowerblue !important;
  padding: 1rem !important;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: cornflowerblue !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: cornflowerblue !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  border: none !important;
  color: cornflowerblue !important;
}

.css-144dnr3-MuiBadge-badge {
  color: limegreen !important;
}

